page-landing {
    img.landing-logo {
        width: 50vw;
        display: block;
        margin: 30px auto;
    }
    ion-chip.forgot {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: white;
    }
}
